<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Upload Image </h1>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
<!--TO DO figure out how to allow multiple file selection-->
<!--    <input type="file" name="files" /> SINGLE FILE SELECTION -->
    <input type="file" name="files" multiple/>
    <input type="submit" name="SUBMIT" />

</form>
<!--wasn't redirecting correctly bc action was /uploadfile not /upload-->
<div th:if="${message}">

    <h2 th:text="${message}" />

</div>

</body>
</html>